#tableLegend-div{
    position: absolute;
    width: 350px;
    height: 86px;
    left: 63px;
    top: 316px;
}

.legend-text{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

#meaning-text{
    position: absolute;
    left: 1.27%;
    right: 83.44%;
    top: 9.3%;
    bottom: 55.81%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

#dataUsed-text{
    position: absolute;
    left: 33.58%;
    right: 42.11%;
    top: 9.3%;
    bottom: 60.47%;
}

#dataNotUsed-text{
    position: absolute;
    left: 73.92%;
    right: 6.77%;
    top: 9.3%;
    bottom: 60.47%;
}

#consentGiven-text{
    position: absolute;
    left: 33.58%;
    right: 40.1%;
    top: 44.19%;
    bottom: 10.47%;
}

#consentNotGiven-text{
    position: absolute;
    left: 73.92%;
    right: 2.76%;
    top: 44.19%;
    bottom: 10.47%;
}

.legend-img{
    width: 11%;
}

#dataUsed-img{
    position: absolute;
    left: 21.61%;
    right: 67%;
    top: 20.63%;
    bottom: 58.14%;
}

#dataNotUsed-img{
    position: absolute;
    left: 61.9%;
    right: 31.75%;
    top: 20.63%;
    bottom: 60.47%;
}

#consentGiven-img{
    position: absolute;
    left: 21.61%;
    right: 66.92%;
    top: 60.51%;
    bottom: 24.51%;
}

#consentNotGiven-img{
    position: absolute;
    left: 61.9%;
    right: 31.83%;
    top: 60.51%;
    bottom: 24.51%;
}